body {
	font-family: Arial;
  background-color: #fcf8ff;
}
div {
  margin: 0;
  padding: 0;
}
.startupScreen {
  width: 430px;
  height: 420px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.startupScreen .logo {
  width: 430px;
  height: 380px;
  background: url(/assets/logo.png) center center no-repeat;
}
.startupScreen .dots {
  width: 100%;
  height: 40px;
  margin-top: 5px;
}
.startupScreen .dot {
  width: 30px;
  height: 30px;
  margin: 5px 28px;
}
