body {
	font-family: "Arial";
  background-color: #bebcbf;
}
div {
  margin: 0;
  padding: 0;
}
#startup {
  position: absolute;
  width: 450px;
  height: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}
#startup .inner {
  position: relative;
}
#startup .logo {
  width: 430px;
  height: 380px;
  background: url(/img/logo.png) center center no-repeat;
}
#startup .fadedot {
  margin: 5px 20px;
}
#startup .login {
  position: relative;
  margin-top: 16px;
  margin-left: 68px;
  color: #670;
}
#startup .login input {
  width: 220px;
  font-size: 14px;
}
#startup .login input.invalid {
  border: solid 2px red;
}
#startup .login button {
  font-size: 14px;
}
#startup .login .error {
  color: red;
}
#app {
  position: absolute;
  max-width: 450px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  overflow: scroll;
}
#app .header {
  border-radius: 6px;
  background-color: #f3f1f3;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.10);
}
#app .header .logout {
  float: right;
  color: #cc8;
}
#app .action {
  border-radius: 6px;
  margin-top: 10px;
  padding: 8px;
  background-color: white;
  color: #004;
  font-weight: bold; box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.10);
}
#app .action img {
  width: 64px;
  height: 64px;
}
#app .action .title {
  float: right;
}
#app .action .exit {
  float: right;
}
#app .action .vid {
  width: 432px;
  height: 324px;
  clear: both;
  margin: 5px auto;
}
video {
  width: 100%;
  height: 100%;
}
#app .functions {
  text-align: center;
}
#app .function {
  background-color: white;
  color: #004;
  font-weight: bold;
  padding: 4px;
  display: inline;
  cursor: pointer;
  margin-left: 4px;
}
