body {
	font-family: Tahoma, Arial;
  background-color: #bebcbf;
}
div {
  margin: 0;
  padding: 0;
}
#content {
  overflow: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0px auto;
}
#startup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 520px;
  height: 500px;
  overflow: hidden;
  margin: auto;
}
#startup .inner {
  position: relative;
}
#startup .logo {
  margin-left: 45px;
  width: 430px;
  height: 380px;
  background: url(/img/logo.png) center center no-repeat;
}
#startup .fadedot {
  margin: 5px 20px;
}
#startup .login {
  position: relative;
  margin-top: 16px;
  margin-left: 113px;
  color: #670;
}
#startup .login input {
  width: 240px;
  font-size: 20px;
}
#startup .login input.invalid {
  border: solid 2px red;
}
#startup .login button {
  font-size: 20px;
}
#startup .login .error {
  font-size: 18px;
  color: red;
}
#app {
  padding: 10px;
}
#app .header {
  height: 32px;
  _border-radius: 6px;
  _background-color: #f3f1f3;
  background-image: url(/img/logo-small.png);
  background-position: 10px 10px;
  background-size: 41px 32px;
  background-repeat: no-repeat;
  padding: 15px 8px 6px 62px;
  _box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
#app .header .logout {
  float: right;
  color: #682;
}
#app .action {
  border-radius: 6px;
  margin-top: 6px;
  padding: 8px;
  background-color: white;
  color: #004;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
#app img.bigIcon {
  width: 64px;
  height: 64px;
}
#app img.lilIcon {
  width: 32px;
  height: 32px;
}
#app .action .title {
  float: right;
}
#app .action .exit {
  float: right;
  font-weight: bold;
}
#app .action .vid {
  clear: both;
  margin: 5px auto;
}
video {
  width: 100%;
}
#app .functions {
  padding-top: 3px;
  text-align: center;
}
#app .function {
  background-color: white;
  color: #004;
  border: solid 1px #004;
  border-radius: 4px;
  font-weight: bold;
  padding: 4px;
  display: inline;
  cursor: pointer;
  margin-left: 4px;
}
#app .function:hover {
  background-color: #cc8;
}
