body {
	font-family: Tahoma, Arial;
  background: linear-gradient(to bottom right, #e6f0e0, #ccb098);
}
div {
  margin: 0;
  padding: 0;
}
#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
}
#startup {
  width: 520px;
  margin: 30px auto;
}
#startup .logo {
  margin-left: 45px;
  width: 430px;
  height: 400px;
  background: url(/img/logo.png) center center no-repeat;
}
#startup .under {
  text-align: center;
  padding: 10px;
}
#login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 480px;
  margin: 16px auto;
}
#login > .header {
  background-image: url(/img/symbol.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 61px 48px;
  height: 52px;
}
#login .body {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
#login .big {
  font-size: 24px;
  color: #670;
}
#login .chunk {
  text-align: center;
  width: 100%;
  margin: 15px 0px;
}
#login .message {
  color: red;
}
#login .form {
  margin-left: 75px;
  font-size: 20px;
}
#login .indent {
  padding-top: 10px;
  margin-left: 20px;
}
#login .prompt {
  font-size: 12px;
  color: #777;
}
#login button {
  color: #840;
  background-color: white;
  font-size: 18px;
  border-radius: 8px;
}
#login button:disabled {
  background-color: #eee;
  color: #951;
}
#login button:enabled:hover {
  background-color: #ffd;
}
#login .useFb {
  color: #004488;
  border-style: ridge;
  border-color: #670;
  border-width: 5px;
  padding: 4px 4px 4px 32px;
  margin: auto;
  background-image: url(/img/datfb.png);
  background-position: 4px center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
#login input[type=text] {
  width: 285px;
  font-size: 20px;
  margin: 4px 0px;
}
#login .fbForm {
  padding: 4px 4px 4px 30px;
  background-image: url(/img/datfb.png);
  background-position: 0px 0px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
.fbForm .header {
  border-bottom: dashed 1px #96a090;
}
.fbForm .block {
  margin-top: 5px;
  margin-bottom: 2px;
  position: relative;
}
.fbForm .right {
  position: absolute;
  top: 0px;
  padding-left: 120px;
}
#login .fbForm .right > div {
  margin-bottom: 5px;
}
#login .fadedot {
  margin: 5px 20px;
}
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: scroll;
}
#app > .header {
  background-image: url(/img/symbol.png);
  background-position: 8px 10px;
  background-size: 41px 32px;
  background-repeat: no-repeat;
  height: 33px;
  padding: 15px 8px 6px 60px;
}
#app .userIdent {
  float: right;
  padding-right: 4px;
}
#app .logout {
  color: #ccb098;
  text-decoration: underline;
  cursor: pointer;
}
#app a.logout:hover {
  color: #670;
}
#app > .body {
  position: relative;
  width: 98%;
  margin: auto;
}
#app > .body > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
#app .listing .item {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 8px 12px;
  background-color: white;
  color: #004;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
#app .listing .item.new {
  background-color: yellow;
}
#app .listing .item:hover {
  background-color: #fff8e8;
}
#app .listing .item .title {
  float: right;
  font-size: 20px;
}
#app img.bigIcon {
  width: 48px;
  height: 48px;
}
#app .activity {
  background-color: white;
  border-radius: 6px;
  color: #004;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  padding-bottom: 4px;
}
#app .activity .header {
  position: relative;
  height: 40px;
}
#app .activity .header .icon {
  padding: 4px;
}
#app .activity .header .icon img {
  width: 32px;
  height: 32px;
}
#app .activity .header .title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 40px;
}
#app .activity .header .cancel {
  position: absolute;
  top: 3px;
  right: 0px;
}
.vidrec {
  position: relative;
}
div.videoPlayer {
  margin: auto;
  position: relative;
}
div.video {
  position: relative;
}
div.video .counter {
  position: absolute;
  top: 5px;
  left: 8px;
  color: red;
  font-size: 24px;
  font-weight: bold;
}
div.video .overlay {
  background-image: url(/img/playbutton.png);
  background-repeat: no-repeat;
  width: 25%;
  height: 25%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
  opacity: .5;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
}
div.video .controls {
  padding: 0 40px;
  position: relative;
}
div.video button {
  width: 30px;
  height: 30px;
}
div.video button.restart {
  position: absolute;
  left: 0px;
}
div.video button.fullScreen {
  position: absolute;
  right: 0px;
}
div.video progress {
  height: 30px;
  width: 100%;
}
video {
  object-fit: contain;
  object-position: 50% 50%;
}
#app .activity .panel {
  border-top: dashed 1px #96a090;
  padding: 5px 20px;
}
#app .activity .panel > div {
  margin-top: 5px;
}
#app button {
  background-color: white;
  color: #004;
  border: solid 2px #004;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
  display: inline;
  margin-right: 4px;
}
#app button:disabled {
  background-color: #ccc;
  color: #aaa;
  border: solid 2px #aaa;
}
#app button:enabled.default {
  color: #070;
  border: solid 3px #070;
}
#app button:enabled:hover {
  background-color: #ec9;
}
#app input[type=text] {
  color: #004;
  padding: 4px;
  width: 450px;
}
input[type=text] {
  background-color: white;
  color: #004;
  border: solid 2px #004;
  font-size: 18px;
}
input[type=text].invalid {
  border: solid 3px red;
}
span.error {
  color: red;
  font-style: italic;
}
span.hilite {
  color: #288;
}
.thumb img {
  width: 40px;
  height: 40px;
  border: solid 2px white;
}
.thumb img:hover {
  border: solid 2px orange;
}
.subtle {
  font-style: italic;
  font-size: 12px;
}
}
