body {
	font-family: Arial;
  background-color: #fcf8ff;
}
div {
  margin: 0;
  padding: 0;
}
.startupScreen {
  position: absolute;
  width: 430px;
  height: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.startupScreen .logo {
  width: 430px;
  height: 380px;
  background: url(/assets/logo.png) center center no-repeat;
}
.startupScreen .dot {
  margin: 5px 20px;
}
