body
  p Hi!
  p
    span Please join me on 
    a(href="livingcx.com") Living Connections.  
    span.
      Simply click the link below to accept my invitation and to watch my videogram to you,
      to record and send me a reply, to start a live video call with me, and to invite other
      people to join us.  It's easy and it's fun!
  p
    a(href=url) Log in to Living Connections
  p Best regards,
  p #{fromUser.name}
