body
  p
    span Hi there!  Someone who calls themself #{fromUser.name} would like to connect with you on the site 
    a(href="livingcx.com") Living Connections.
  p.
    Click on the link below to see the invitation.
  p
    a(href=url) #{url}
