body
  p Hello, #{message.toUser.name}!
  p.
    #{message.fromUser.name}! has sent you a message that has not been viewed by you. 
    Click here to view your message 
  p
    a(href=url)
  p Best regards,
  p Living Connections Admin
