body
  p Hello, #{message.fromUser.name}!
  p.
    A message you have sent to #{message.toUser.name}! has not been viewed. A similar notice is being sent out to them via email as well.
  p
    a(href=url) your can view your message here again
  p Best regards,
  p Living Connections Admin
